body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: blue;
    font-family: "Georgia";
    text-transform: uppercase;
}

.sign-in-text {
    color: orangered;
    font-weight: bold;
    text-align: center;
}

.form-container {
    margin-top: 70px;
    background-color: rgb(253, 188, 67);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="username"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background: #f3deb8;
    color: gray;
    outline: none;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #00a3ff;
}

.signin-link {
    text-align: right;
    font-size: 10px;
}

.signin-link a {
    color: blue;
    font-size: 18px;
    text-decoration: none;
}

.signin-link a:hover {
    color: blue;
    font-weight: bold;
}








.addjsp,
.deletejsp,
.updatejsp {
    margin-bottom: 20px;
}

.addjsp input[type="number"],
.addjsp input[type="text"],
.deletejsp input[type="number"],
.updatejsp input[type="number"],
.updatejsp input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background: #f3deb8;
    color: gray;
    outline: none;
}

.addjsp button[type="submit"],
.deletejsp button[type="submit"],
.updatejsp button[type="submit"] {
    width: 100%;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addjsp button[type="submit"]:hover,
.deletejsp button[type="submit"]:hover, 
.updatejsp button[type="submit"]:hover {
    background-color: red;
}

.addjsp a,
.deletejsp a,
.updatejsp a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.open-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.open-button:hover {
    background-color: red;
}

.fa {
    margin-right: 5px;
}

.table {
    width: 60%;
    border-collapse: collapse;
    border: 1px solid black;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;

}

.table th {
    background-color: orangered; /* Added background color for table header */
    font-weight: bold;
}